{#
  The following 2 meta tags *must* come first in the <head>
  to consistently ensure proper document rendering.
  Any other head element should come *after* these tags.
#}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,shrink-to-fit=no">

<!-- Locale -->
<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- To the Future! -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="description" content="{{ trans(template.meta_description) }}"/>

{{ template.includes.render('meta')|raw }}

<title>
    {{ setting_value('streams::name', config_get('streams::distribution.name')) }}
    &#8250;
    {{ trans(template.meta_title) }}
</title>

<!-- Favicon -->
{#{{ favicons("theme::img/favicon.png") }}#}

{# Important!! #}
{{ constants() }}


{# Specific Build Files #}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

{#{{ asset_style("visiosoft.theme.detsa::scss/styles.scss") }}#}
{{ asset_style("visiosoft.theme.detsa::scss/theme.scss") }}

{{ asset_add("build.css", "theme::css/theme.css") }}

{# Include Asset Collections #}
<style type="text/css">
    {{ asset_inline("theme.css", ["min"]) }}
    {{ asset_inline("build.css", ["parse", "min"]) }}
</style>

{{ template.includes.render('head')|raw }}

